<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="FreeCrm Application Test Automation Suite" verbose="1" >

  <listeners>
		<listener class-name="com.qa.ExtentReportListner.ExtentReporterNG" />
  </listeners>
  
  <test name="freeCrm App test cases" >
    <classes>
        <class name="com.crm.qa.testcases.LoginPageTest"/>  
        <class name="com.crm.qa.testcases.HomePageTest"/>
        <class name="com.crm.qa.testcases.ContactsPageTest"/>    
    </classes>
  </test> 
</suite>
